{% block content %}
    {% for post in posts %}
            <div class="{% cycle 'container-post-not-even' 'container-post-even' %}">
                <div class="post-text">
                    <p><strong>наименование: </strong>{{ post.title }}</p>
                    <p><strong>место установки: </strong>{{ post.place }}</p>
                    <p><strong>категория оборудования: </strong>{{ post.cat}}</p>
                    <p><strong>описание: </strong>{{ post.characteristic|truncatewords:15 }}</p> 
                </div>
            </div><br><br> 
    {% endfor %}
    <br><br>  
{% endblock content %}